body,html {
  margin: 0;
  padding: 0;
  height: 100%;
}

br {
  display: block;
}

.wrapper {
  display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

body * {
  font-family: montserrat, sans-serif;
}

.top-part {
  background-color: #e9e9e9;
}

.header {
  height: 25px;
  padding: 9px 9px 0 9px;
}

.logo {
  display: inline-block;
  padding: 5px 6px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

.vk_auth {
  display: inline-block;
  padding: 5px 6px;
  border-radius: 9px;
  border: 2px solid #707070;
  background-color: #D1D4D9;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

#user {
  margin: 0;
}

#pass {
  margin: 0;
}

.vk_form {
  position: relative;
  margin-bottom: 20px;
  bottom: 42px;
  text-align: center;
}

.form {
  margin: 4px;
}



input[type="submit"] {
  appearance:none;
  padding:10px;
  border:none;
  background-color:#709BCB;
  color:#505050;
  font-weight:bold;
  border-radius:5px;
  width:100%;
  min-width: 195px;
}

input[type="text"] {
  border-radius: 5px;
}

input[type="password"] {
  border-radius: 5px;
}

a {
  color: black;
  text-decoration: none;
}

#auth_spotify {
  border-radius: 4px;
  background-color: #B2D88E;
  border-color: #B2D88E;
  position: relative;
  bottom: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #505050;
  margin: 0 auto;
  width: 100%;
  height: 77px;
  padding: 5px 4px;

}

.logo span {
  height: 15px;
  vertical-align: middle;
}

.menu {
  float: right;
  max-width: 26px;
  height: 19px;
  right: 0;
  top: 0;
  position: unset;
  width: 9%;
}

.menu > button {
  border: none;
  padding: 0;
  height: 19px;
  width: 100%;
}

.menu > button:focus {
  outline: none;
}

.menu > button:hover {
  cursor: pointer;
}

#container {
  width: 100%;
  height: 19px;
}

.line {
  background-color: #606061;
  margin: 0 0 2px;
  border-radius: 2px;
  width: 100%;
  height: 5px;
}

.banner {
  display: block;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.banner * {
  font-family: montserrat, sans-serif;
  font-size: 20px;
}

.smth-1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #505050;
  position: unset;
}

.test {
  max-width: 174px;
  margin: 0 auto;
  background-position: center;
  white-space: nowrap;
  text-align: center;
  position: relative;
  color: #505050;
  vertical-align: middle;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  background: #75a2d4;
  /* Old browsers */
  background: -moz-linear-gradient(left, #75a2d4 0%, #75a2d4 45%, #b3d98f 46%, #b3d98f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #75a2d4 0%, #75a2d4 45%, #b3d98f 46%, #b3d98f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #75a2d4 0%, #75a2d4 45%, #b3d98f 46%, #b3d98f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#75a2d4", endColorstr="#b3d98f",GradientType=1 );
  /* IE6-9 */
  width: 56.6666666667%;
  height: 26px;
}

.btn-start {
  max-width: 203px;
  margin: 54px auto 0;
  width: 100%;
}

.btn-start button {
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  width: 50%;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #505050;
  border: 3px solid #777879;
  background-color: #e9e9e9;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.btn-start button:hover {
  cursor: pointer;

  z-index: 11;
  background-color: white;
  border-color: #909090;
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.btn-start button:focus {
  outline: none;
}

#hidden {
  width: 100%;
  margin-bottom: 35px;
  font-size: 11px;
  font-weight: bold;
}

#removable input {
  border-style: none;
  padding: 0;
  font-family: montserrat, sans-serif;
  width: 100%;
}

#btn {
  width: 75%;
}
.no-transition{
  transition: none !important;
  pointer-events: none;
}


#transfer:hover {
  cursor: unset;
}

#transfer {
    padding: 0 10px;
    width: 1000%;
    max-width: max-content;
}

#removable div {
  white-space: nowrap;
}





#errors {
  display: none;
  margin: 0 auto;
}

#errors_transfer_label {
  color: #505050;
  margin: 0;
}

#errors_transfer{
  width: 70%;
  font-size: 16px;
  max-width: 250px;
  background-color: #e9e9e9;
  color: #505050;
  border-width: 2px;
  border-radius: 10px;
  border-color: #777879;
  overflow-x: hidden;
  overflow-y: hidden;
}

select {
  color: #505050;
}

option {
  color: #1c1c1c;
}

.FAQ {
  color: #505050;

  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  font-family: montserrat, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.box {
  max-width: 793px;
  padding: 5px;
  font-size: 14px;
  background-color: #eff0f2;
  border-radius: 8px;
  margin: 10px auto 0;
  height: 100%;
  width: 89.6666666667%;
  text-align: left;
}

.qst p {
  font-weight: bold;
  margin-block: 0;
}

.qst div {
  text-transform: none;
  font-weight: normal;
}

.info {
  margin-top: 30px;
  flex: 0 0 auto;
}


.info_box{
  background-color: #F2F2F2;
  white-space:nowrap;
}



.info_container{
  width: 100%;
  display: table;
  border-collapse: collapse;
  overflow:hidden;
}
.info_box td{
  font-size: 6px;
  text-align: center;
  padding: 10px 0px 10px;
  display: table-cell;

}



.info_box img{
  margin-right: 10px;
  height: 10px;
  vertical-align: middle;
}

#user_agreement, #user_agreement a{
  font-size: 12px;
}

#user_agreement a{
  color: navy;
}