<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/static/js/metrika.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="icon" href="/static/images/spotifier-logo.svg" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content={{ _( 'Перенос музыки из между сервисами всего за пару кликов.') }}/>
    <title>Spotifier</title>
</head>


<body class="body app" onload="appOnLoad()" onresize="appOnResize()">
    <div class="app slider">
        <img src="/static/images/menu-opened.svg" class="app menu-button" onclick="hideMenu()">
        <div class="app personal-info">
            <img src="{{ url_for('serve_img') }}" alt="avatar" class="app personal-info profile-picture">
            <div class="app personal-info name-lastname">{{ name }}</div>
            <img src="/static/images/logout.svg" onclick="logout()" class="app personal-info logout">
            <div class="app personal-info subscription-box">
                <div class="app personal-info subscription-box text"><a style="text-decoration: none;color: white;" href={{ kassa }}>{{ kassa_text }}</a></div>
                <div class="app personal-info subscription-box line non-selectable"></div>
                <div class="app personal-info subscription-box question-mark non-selectable">?</div>
            </div>
            <div class="app personal-info next-payment">{{ _('Дата следующего списания: ') }}{{ data_end }}</div>
        </div>
        <div class="app added-services">
            <div class="app added-services text">
                {{ _('Подключенные сервисы: ') }}

            </div>
            <img src="/static/images/add-service.svg" class="app added-services add-service-button">
            <img src="/static/images/left-arrow.svg" class="app added-services left-arrow-btn" onclick="next()">
            <div class="app added-services service-container non-selectable">
                <img src="/static/images/spotify-logo1.svg" onclick="window.location.href = 'https://accounts.spotify.com/authorize?client_id=b1fa88d88e3042d8b40e21af7e55a0ba&response_type=code&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fauth_spotify&scope=playlist-modify-private+playlist-modify-public+ugc-image-upload+user-library-read+user-library-modify+user-follow-modify+user-follow-read+playlist-read-private+user-top-read+user-read-email&show_dialog=True'" class="app added-services service-container service not-connected spotify">
                <img src="/static/images/yandex-logo.svg" onclick="window.location.href = '/add_yandex'" class="app added-services service-container service not-connected yandex">
                <img src="/static/images/vk-logo1.svg" onclick="window.location.href = '/add_vk'" class="app added-services service-container service not-connected vk">
                <img src="/static/images/deezer-logo.svg" onclick="window.location.href = 'https://connect.deezer.com/oauth/auth.php?app_id=527262&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fadd_deezer&perms=basic_access%2Cemail%2Cmanage_library%2Coffline_access%2Cmanage_community%2Cdelete_library%2Clistening_history'" class="app added-services service-container service not-connected deezer">
            </div>
        </div>
        <div class="app transfer-music non-selectable" onclick="showTransferPopUp()">
            {{ _('Перенести музыку') }}
        </div>
        <div class="app menu-options">
            <img src="/static/images/account-circle.svg" alt="profile" class="app menu-options image profile">
            <img src="/static/images/add-service-box.svg" alt="profile" class="app menu-options image add-service">
            <img src="/static/images/playlists.svg" alt="profile" class="app menu-options image playlists">
            <img src="/static/images/tracks.svg" alt="profile" class="app menu-options image tracks">
            <img src="/static/images/artists.svg" alt="profile" class="app menu-options image artists">
            <img src="/static/images/albums.svg" alt="profile" class="app menu-options image albums">

        </div>
        <div class="app music-container">
            <div class="app music-container my-box playlists" onclick="displayData('playlists', localizedVars.playlists)">
                <img src="/static/images/playlists.svg" class="app music-container my-box image playlists">
                <div class="app music-container my-box text playlists non-selectable">{{ _('Мои плейлисты') }}</div>
                <img src="/static/images/right-arrow.svg" class="app music-container my-box right-arrow playlists">
            </div>
            <div class="app music-container my-box tracks" onclick="displayData('tracks', localizedVars.tracks)">
                <img src="/static/images/tracks.svg" class="app music-container my-box image tracks">
                <div class="app music-container my-box text tracks non-selectable">{{ _('Мои треки') }}</div>
                <img src="/static/images/right-arrow.svg" class="app music-container my-box right-arrow tracks">

            </div>
            <div class="app music-container my-box artists" onclick="displayData('artists', localizedVars.artists)">
                <img src="/static/images/artists.svg" class="app music-container my-box image artists">
                <div class="app music-container my-box text artists non-selectable">{{ _('Мои артисты') }}</div>
                <img src="/static/images/right-arrow.svg" class="app music-container my-box right-arrow artists">

            </div>
            <div class="app music-container my-box albums" onclick="displayData('albums', localizedVars.albums)">
                <img src="/static/images/albums.svg" class="app music-container my-box image albums">
                <div class="app music-container my-box text albums non-selectable">{{ _('Мои альбомы') }}</div>
                <img src="/static/images/right-arrow.svg" class="app music-container my-box right-arrow albums">

            </div>

        </div>
        <img src="/static/images/spotifier-logo.svg" class="app spotifier-logo">
    </div>
    <div class="app main-container">
        <div class="app chosen option">{chosen}: 0</div>
        <div class="app chosen count">{{ _('Выбрано') }}: 0</div>
        <div class="app chosen add non-selectable">{{ _('Добавить')}} {chosen}</div>
        <div class="app chosen transfer non-selectable" onclick="showTransferPopUp()">{{ _('Перенести')}} {chosen}</div>
        <div class="app song top-part">
            <input class="app song top-part checkbox" type="checkbox" onclick="chooseAllSongs()"></input>
            <div class="app song top-part label">{{ _('Название') }}</div>
            <div class="app song top-part service">{{ _('Сервис') }}</div>
            <div class="app song top-part option1">{{ _('Автор') }}</div>
            <div class="app song top-part option2">{{ _('Альбом') }}</div>
            <div class="app song top-part change">{{ _('Изменить') }}</div>
            <div class="app song top-part delete" onclick="deleteAllSongs()">{{ _('Удалить') }}</div>
        </div>
    </div>
    <div class="app popup">
        <div class="app popup-container">
            <img onclick="this.parentElement.parentElement.style.display = 'none'" src="/static/images/arrow-back.svg" alt="goback" class="app popup-container goback-btn">
            <div class="app popup-container popup-label main">{{ _('Перенести ваши плейлисты, треки, артистов и альбомы') }}</div>
            <div class="app popup-container popup-label service-pick">{{ _('Выберите сервис для переноса:') }}</div>
            <div class="app popup-container popup-service-container non-selectable">
                <img src="/static/images/spotify 96x96.svg" onclick="chooseService('spotify')" class="app popup-container popup-service-container service spotify" />
                <img src="/static/images/deezer 96x96.svg" onclick="chooseService('deezer')" class="app popup-container popup-service-container service deezer" />
                <img src="/static/images/vk 96x96.svg" onclick="chooseService('vk')" class="app popup-container popup-service-container service vk" />
                <img src="/static/images/yandex 96x96.svg" onclick="chooseService('yandex')" class="app popup-container popup-service-container service yandex" />
            </div>
        </div>


    </div>
</body>
<script src="/static/js/adaptive-design.js"></script>
<script src="{{ url_for('babel_catalog') }}"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/test.js"></script>