<html lang="ru">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/static/js/metrika.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="icon" href="/static/images/spotifier-logo.svg" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content={{ _( "Перенос музыки из между сервисами всего за пару кликов.") }}/>
    <title>Spotifier</title>
</head>

<body class="body auth" onresize="changeDelta()" onload="changeDelta()">
    <img src="/static/images/spotifier-logo.svg" alt="" srcset="" class="resizable auth logo">
    <div class="resizable auth container">
        <div class="resizable auth login-text">{{ _("Войти") }}</div>
        <div class="resizable auth login-container google">
            <img src="/static/images/google-logo.svg" class="resizable auth company-logo">
            <a href={{google}} class="resizable auth login-url google-url"> {{ _('Войти с помощью Google') }} </a>
        </div>
        <div class="resizable auth login-container vk">
            <img src="/static/images/vk-logo.svg" class="resizable auth company-logo">
            <a href={{vk}} class="resizable auth login-url vk-url">{{ _('Войти с помощью Вконтакте') }}</a>
        </div>
        <div class="resizable auth login-container spotify">
            <img src="/static/images/spotify-logo.svg" class="resizable auth company-logo">
            <a href={{spotify}} class="resizable auth login-url spotify-url">{{ _('Войти с помощью Spotify') }}</a>
        </div>
        <div class="resizable auth login-container yandex">
            <img src="/static/images/yandex-logo.svg" class="resizable auth company-logo">
            <a href={{yandex}} class="resizable auth login-url yandex-url">{{ _('Войти с помощью Yandex') }}</a>
        </div>
    </div>




</body>
<script src="/static/js/adaptive-design.js"></script>