<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="psd/test.css" />
        <link rel="stylesheet" href="https://use.typekit.net/sfe1dbs.css" />
        <link rel="stylesheet" href="/static/moblie-css300px.css" />
        <link rel="stylesheet" href="/static/mobile-css600px.css" media="only screen and (min-device-width: 600px)" />
        <link rel="stylesheet" href="/static/mobile-css800px.css" media="only screen and (min-device-width: 800px)" />
        <link rel="stylesheet" href="/static/mobile-css1000px.css" media="only screen and (min-device-width: 1000px)" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
        <title>React App</title>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div class="top-part">
            <div class="header">
                <div class="logo">
                    <span>spotifier</span>
                </div>

                <div class="menu">
                    <button>
                        <div id="container">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="banner">
                <div class="smth-1">Перенести</div>
                <div class="test">C VK В SPOTIFY</div>
                <div class="btn-start">
                    <div id="hidden"></div>
                    <script src="static/script.js"></script>
                    <button onclick="redirect()" id="btn">Начать</button>
                </div>
            </div>
        </div>

        <div class="FAQ">
            часто задаваемые вопросы
            <div class="box">
                <div class="qst">
                    <p>почему мы?</p>
                    <div>
                        Перенос музыки за пару кликов, ваши данные не хранятся на наших серверах, все строго
                        конфиденциально.
                    </div>
                </div>
                <div class="qst">
                    <p>Как все перенести?</p>
                    <div>
                        Жми на кнопку "ПЕРЕНЕСТИ". Затем заходишь в Vk, заходишь в Spotify и ждешь. Пару минут и ты
                        можешь наслаждаться своей любимой музыкой в Spotify, который начнет учитывать твои вкусы.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
