<!DOCTYPE html>
<html lang="en">
<head>

            <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(83155189, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
</script>
<!-- /Yandex.Metrika counter -->

    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/mobile-css300px.css" />
    <link rel="stylesheet" href="/static/mobile-css600px.css" media="only screen and (min-device-width: 600px)" />
    <link rel="stylesheet" href="/static/mobile-css800px.css" media="only screen and (min-device-width: 800px)" />
    <link rel="stylesheet" href="/static/mobile-css1000px.css" media="only screen and (min-device-width: 1000px)" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Перенос музыки</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <div class="content">
        <div class="top-part">
    <div class="header">
        <div class="logo">
            <a href="/">spotifier</a>
        </div>

        <div class="menu">
            <button>
                <div id="container">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </button>
        </div>
    </div>

    <div class="banner">
        <div class="smth-1">Перенести</div>
        <div class="test">C VK В SPOTIFY</div>
        <div class="btn-start">
            <div id="hidden"></div>
            <button id="transfer">перенос&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            <div id="user_agreement" style="display: none;">
                *Нажимая на кнопку оплатить вы соглашаеетесь с 
                <a href="/static/Spotifier Пользовательское Соглашение.pdf" target="_blank">пользовательским соглашением</a>
            </div>
        </div>
        <div id="errors">
            <p id="errors_transfer_label">Ненайденные треки:</p>
            <select id="errors_transfer" size="3" >
            </select>
        </div>
    </div>
</div>

<div class="FAQ">
    часто задаваемые вопросы
    <div class="box">
        <div class="qst">
            <p>почему мы?</p>
            <div>
                Перенос музыки за пару кликов, ваши данные не хранятся на наших серверах, все строго
                конфиденциально.
            </div>
        </div>
        <div class="qst">
            <p>Как все перенести?</p>
            <div>
                Жми на кнопку "ПЕРЕНЕСТИ". Затем заходишь в Vk, заходишь в Spotify и ждешь. Пара минут, и ты
                можешь наслаждаться своей любимой музыкой в Spotify, который начнет учитывать твои вкусы.
            </div>
        </div>
        <div class="qst">
            <p>Бесплатен ли перенос?</p>
            <div>
                Вы можете перенести 100 любых треков бесплатно, а после оплаты 69 руб
                мы снимим ограничение на перенос! Нажимая на кнопку оплатить вы соглашаеетесь
                с <a href="/static/Spotifier Пользовательское Соглашение.pdf">пользовательским соглашением</a>
            </div>
        </div>
    </div>
    </div>
    
          </div>
          <div class="info">
            <table class="info_container">
                <tr class="info_box">
                    <td>Арламенков Андрей Сергеевич</td>
                    <td>ИНН: 784813689183 </td>
                    <td><img src="/static/icon/mail-icon.png" alt="mail:">tri2004@yandex.ru</td>
                    <td><img src="/static/icon/telegram-icon.png" alt="telegram:">@andrey_bronmal</td>
                </tr>
            </table>
        </div>
        </div>  
</body>
<script src="/static/js/replacing_script.js"></script>

</html>