.app {
    & * {
        transition-duration: .2s;
    }
    &.slider {
        position: sticky;
        top: 0;
        transition-duration: 0.25s;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
        background-color: #494781;
        width: calc(256px * var(--deltaW));
        height: calc(900px * var(--deltaH));
        float: left;
        margin: 0;
    }
    &.menu-button {
        width: calc(24px*var(--deltaW));
        height: calc(24px*var(--deltaH));
        margin: calc(16px*var(--deltaH)) calc(16px*var(--deltaW)) 0 calc(216px*var(--deltaW));
        background-color: #494781;
        cursor: pointer;
    }
    &.personal-info {
        height: calc(128px*var(--deltaH));
        width: calc(224px*var(--deltaW));
        border-radius: 16px;
        background-color: #605E9A;
        margin: calc(40px*var(--deltaH)) calc(16px*var(--deltaW)) 0 calc(16px*var(--deltaW));
        display: inline-block;
        &.logout {
            width: calc(16px*var(--deltaW));
            height: calc(16px*var(--deltaH));
            float: right;
            margin: 0 calc(16px*var(--deltaW)) 0 0;
            padding: calc(18px*var(--deltaH)) 0 0 0;
            cursor: pointer;
        }
        &.name-lastname {
            width: calc(120px*var(--deltaW));
            height: calc(20px*var(--deltaH));
            text-align: left;
            vertical-align: bottom;
            font-size: calc(12px*var(--deltaW));
            color: white;
            margin: calc(20px*var(--deltaH)) calc(8px*var(--deltaW)) 0 0;
        }
        &.profile-picture {
            width: calc(40px*var(--deltaW));
            height: calc(40px*var(--deltaH));
            border-radius: 50%;
            float: left;
            margin: calc(22px*var(--deltaH)) calc(8px*var(--deltaW)) 0 calc(16px*var(--deltaW));
        }
        &.subscription-box {
            background: linear-gradient(90deg, #FF527F 0%, #FD9590 100%);
            width: calc(140px*var(--deltaW));
            height: calc(24px*var(--deltaH));
            margin: calc(12px*var(--deltaH)) 0 0 0;
            cursor: pointer;
            &.text {
                margin: 0 0 0 calc(9px*var(--deltaW));
                float: left;
                padding: calc(6px*var(--deltaH)) 0 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                width: calc(100px*var(--deltaW));
                height: calc(12px*var(--deltaH));
                font-size: calc(10px*var(--deltaW));
                background: none;
            }
            &.line {
                float: left;
                margin: calc(4px*var(--deltaH)) 0 0 calc(7px*var(--deltaW));
                width: 0;
                height: calc(16px*var(--deltaH));
                background: none;
                border: 1px solid rgba(250, 238, 239, 0.5);
                border-radius: 99px;
            }
            &.question-mark {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: calc(4px*var(--deltaH)) 0 0 0;
                cursor: pointer;
                width: calc(16px*var(--deltaW));
                height: calc(16px*var(--deltaH));
                margin: 0;
                background: none;
                color: white;
            }
        }
        &.next-payment {
            color: #CFC4C5;
            width: calc(101px*var(--deltaW));
            height: calc(32px*var(--deltaH));
            font-size: calc(11px*var(--deltaW));
            margin: calc(8px*var(--deltaH)) calc(59px*var(--deltaW)) 0 calc(64px*var(--deltaW));
        }
    }
    &.added-services {
        &.text {
            color: #EBE0E1;
            font-size: calc(16px*var(--deltaW));
            width: calc(194px*var(--deltaW));
            height: calc(24px*var(--deltaH));
            margin: calc(32px*var(--deltaH)) 0 0 calc(16px*var(--deltaW));
        }
        &.add-service-button {
            display: inline-block;
            width: calc(32px*var(--deltaW));
            height: calc(32px*var(--deltaH));
            margin: calc(16px*var(--deltaH)) 0 0 calc(16px*var(--deltaW));
            cursor: pointer;
        }
        &.left-arrow-btn {
            display: inline-block;
            margin: 0 calc(2px*var(--deltaW)) calc(4px*var(--deltaH)) calc(4px*var(--deltaW));
            width: calc(24px*var(--deltaW));
            height: calc(24px*var(--deltaH));
            cursor: pointer;
        }
        &.service-container {
            display: inline-block;
            width: calc(128px*var(--deltaW));
            height: calc(32px*var(--deltaH));
            overflow: hidden;
            &.service {
                width: calc(32px*var(--deltaW));
                height: calc(32px*var(--deltaH));
                margin: 0 calc(8px*var(--deltaW)) 0 0;
                &.not-connected {
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    filter: grayscale(100%);
                    cursor: pointer;
                }
            }
        }
    }
    &.transfer-music {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(224px*var(--deltaW));
        height: calc(40px*var(--deltaH));
        background: linear-gradient(90deg, #FF527F 0%, #FD9590 100%);
        color: white;
        border-radius: 99px;
        text-align: center;
        margin: calc(64px*var(--deltaH)) 0 0 calc(16px*var(--deltaW));
        cursor: pointer;
    }
    &.music-container {
        width: calc(225px*var(--deltaW));
        height: calc(184px*var(--deltaH));
        margin: calc(48px*var(--deltaH)) 0 0 calc(16px*var(--deltaW));
        &.my-box {
            width: calc(224px*var(--deltaW));
            height: calc(40px*var(--deltaH));
            background: rgba(65, 64, 120, 0.5);
            border-radius: 99px;
            margin: calc(8px*var(--deltaH)) 0 0 0;
            cursor: pointer;
            transition-duration: 0.5s;
            &.image {
                width: calc(24px*var(--deltaW));
                height: calc(24px*var(--deltaH));
                margin: calc(8px*var(--deltaH)) 0 0 calc(15px*var(--deltaW));
                border-radius: 0;
                opacity: 0.6;
                float: left;
                transition-duration: 0.5s;
            }
            &.text {
                display: flex;
                justify-content: left;
                align-items: center;
                width: calc(107px*var(--deltaW));
                height: calc(20px*var(--deltaH));
                font-size: calc(14px*var(--deltaW));
                padding: calc(10px*var(--deltaH)) calc(10px*var(--deltaW));
                background: none;
                margin: 0;
                float: left;
                color: #CFC4C5;
                transition-duration: 0.5s;
            }
            &.right-arrow {
                display: none;
                width: calc(24px*var(--deltaW));
                max-height: 24px;
                background: none;
                border-radius: 0;
                float: right;
                margin: calc(8px*var(--deltaH)) calc(16px*var(--deltaW)) 0 0;
            }
        }
        &.my-box:hover {
            background: rgba(65, 64, 120, 1);
            transition-duration: 0.5s;
            & .image {
                opacity: 1;
            }
            & .text {
                transition-duration: 0.5s;
                color: white;
            }
            & .right-arrow {
                display: block;
            }
        }
    }
    &.spotifier-logo {
        width: calc(256px*var(--deltaW));
        height: calc(213px*var(--deltaH));
    }
    &.menu-options {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: calc(24px*var(--deltaW));
        height: calc(264px*var(--deltaH));
        margin: calc(278px*var(--deltaH)) calc(24px*var(--deltaW)) 0 calc(24px*var(--deltaW));
        &.image {
            transition-duration: 0.2s;
            padding: calc(24px*var(--deltaH)) 0 0 0;
            opacity: 0.6;
            margin: 0px;
            display: inherit;
            width: calc(24px*var(--deltaW));
            height: calc(24px*var(--deltaH));
        }
        &.image:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
    &.main-container {
        display: block;
        float: right;
        overflow-y: hidden;
        width: calc(1050px*var(--deltaW));
        height: calc(900px*var(--deltaH));
    }
    &.chosen {
        width: calc(200px*var(--deltaW));
        color: white;
        display: inline-block;
        &.option {
            font-size: calc(22px*var(--deltaW));
            width: calc(150px*var(--deltaW));
            height: calc(40px*var(--deltaH));
            margin: calc(112px*var(--deltaH)) calc(80px*var(--deltaW)) 0 0;
        }
        &.option::first-letter {
            text-transform: uppercase;
        }
        &.count {
            font-size: calc(22px*var(--deltaW));
            width: calc(133px*var(--deltaW));
            height: calc(40px*var(--deltaH));
            margin: calc(112px*var(--deltaH)) calc(121px*var(--deltaW)) 0 0;
        }
        &.add {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            background-color: #46437B;
            font-size: calc(12px*var(--deltaW));
            width: calc(188px*var(--deltaW));
            height: calc(40px*var(--deltaH));
            margin: calc(112px*var(--deltaH)) calc(90px*var(--deltaW)) calc(16px*var(--deltaH)) 0;
            cursor: pointer;
        }
        &.transfer {
            margin: calc(112px*var(--deltaH)) 0 0 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, #FF527F 0%, #FD9590 100%);
            border-radius: 99px;
            font-size: calc(12px*var(--deltaW));
            width: calc(168px*var(--deltaW));
            height: calc(40px*var(--deltaH));
            cursor: pointer;
        }
    }
    &.song {
        color: white;
        vertical-align: middle;
        font-size: calc(14px*var(--deltaW));
        display: inline-flex;
        align-items: center;
        width: calc(936px*var(--deltaW));
        height: calc(40px*var(--deltaH));
        margin: 0 0 calc(10px*var(--deltaH)) 0;
        border-radius: 8px;
        background-color: rgba($color: #46437B, $alpha: .25);
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        &.checkbox {
            background: none;
            max-width: 18px;
            height: calc(18px*var(--deltaH));
            margin: calc(11px*var(--deltaH)) calc(45px*var(--deltaW)) calc(11px*var(--deltaH)) calc(16px*var(--deltaW));
        }
        &.label {
            margin: 0;
            background: none;
            border-radius: 0;
            align-items: flex-start;
            width: calc(168px*var(--deltaW));
        }
        &.service {
            margin: 0;
            background: none;
            width: calc(24px*var(--deltaW));
            height: calc(24px*var(--deltaH));
            margin: 0 calc(119px*var(--deltaW)) 0 0;
        }
        &.option1 {
            vertical-align: top;
            align-items: flex-start;
            border-radius: 0;
            margin: 0 calc(45px*var(--deltaW)) 0 0;
            background: none;
            width: calc(100px*var(--deltaW));
        }
        &.option2 {
            margin: 0 calc(61px*var(--deltaW)) 0 0;
            background: none;
            width: calc(100px*var(--deltaW));
        }
        &.change-btn {
            margin: 0 calc(131px*var(--deltaW)) 0 0;
            background: none;
            width: calc(24px*var(--deltaW));
        }
        &.change-btn:hover {
            cursor: pointer;
        }
        &.delete-btn {
            margin: 0;
            background: none;
            width: calc(24px*var(--deltaW));
        }
        &.delete-btn:hover {
            cursor: pointer;
        }
    }
    &.song.top-part {
        display: inline-flex;
        width: calc(936px*var(--deltaW));
        height: calc(40px*var(--deltaH));
        border-radius: 8px;
        background-color: #46437B;
        text-transform: capitalize;
        overflow: visible;
        &.checkbox {
            margin: calc(11px*var(--deltaH)) calc(45px*var(--deltaW)) calc(11px*var(--deltaH)) calc(16px*var(--deltaW));
            max-width: 18px;
            height: calc(18px*var(--deltaH));
        }
        &.label {
            width: calc(168px*var(--deltaW));
            align-items: center;
            margin: 0;
        }
        &.service {
            width: calc(24px*var(--deltaW));
            height: calc(24px*var(--deltaH));
            margin: 0 calc(119px*var(--deltaW)) 0 0;
        }
        &.option1 {
            align-items: center;
            width: calc(100px*var(--deltaW));
            margin: 0 calc(45px*var(--deltaW)) 0 0;
        }
        &.option2 {
            width: calc(100px*var(--deltaW));
            margin: 0 calc(61px*var(--deltaW)) 0 0;
        }
        &.change {
            width: calc(24px*var(--deltaW));
            margin: 0 calc(131px*var(--deltaW)) 0 0;
        }
        &.delete {
            width: calc(56px*var(--deltaW));
            margin: 0;
        }
    }
    &.popup {
        width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }
    &.popup-container {
        border-radius: 16px;
        width: calc(552px*var(--deltaW));
        height: calc(320px*var(--deltaH));
        background-color: #494781;
        display: inline-block;
        &.goback-btn {
            display: block;
            margin: calc(14px*var(--deltaH)) 0 0 calc(16px*var(--deltaW));
            cursor: pointer;
            width: calc(24px*var(--deltaW));
            height: calc(24px*var(--deltaH));
            background: none;
            float: left;
        }
        &.popup-label {
            display: inline-block;
            margin: 0;
            width: calc(475px*var(--deltaW));
            height: calc(24x*var(--deltaH));
            font-size: calc(16px*var(--deltaW));
            background: none;
            color: #EBE0E1;
            &.main {
                float: left;
                margin: calc(18px*var(--deltaH)) 0 0 calc(16px*var(--deltaW));
            }
            &.service-pick {
                margin: calc(48px*var(--deltaH)) 0 0 calc(16px*var(--deltaW));
                float: left;
            }
        }
        &.popup-service-container {
            background-color: none;
            width: calc(486px*var(--deltaW));
            height: calc(172px*var(--deltaH));
            margin: calc(16px*var(--deltaH)) 0 0 calc(56px*var(--deltaW));
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-color: #9A86C3;
            scrollbar-width: 6px;
            &.service {
                cursor: pointer;
                margin: 0 calc(16px*var(--deltaH)) calc(16px*var(--deltaW)) 0;
                width: calc(96px*var(--deltaW));
                height: calc(96px*var(--deltaH));
            }
        }
        &.popup-service-container::-webkit-scrollbar {
            width: 6px;
        }
        &.popup-service-container::-webkit-scrollbar-thumb {
            width: 6px;
            border-radius: 99px;
            background-color: #9A86C3;
        }
    }
}