body {
    background-color: $main-color;
    font-family: "Roboto";
    width: 100%;
    height: max-content;
    overflow-x: hidden;
}

.non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@import "./auth.scss";
@import "./app.scss";